---
---

a {
  text-decoration: none;
}

ul li {
  list-style-image: none;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  overflow: visible;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}

.card {
  height: 100%;
  background-color: white;
  color: var(--base-color-text);
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  transition: box-shadow .2s ease-in-out;
  display: block;
}

.card-img {
  width: 100% 
}

.card-content {
  padding: 16px;
}
  
